---
import Layout from "../layouts/Layout.astro";
import About from "../pageComponents/About.astro";
import Hero from "../pageComponents/Hero.astro";
import OtherProjects from "../pageComponents/OtherProjects.astro";
import Projects from "../pageComponents/Projects.astro";
---

<Layout title="Ridho Khalis">
  <main>
    <Hero />
    <About />
    <Projects />
    <OtherProjects />
  </main>
</Layout>
