---
---

<section id="contact">
  <div class="section-content">
    <h2 class="section-title primary-mono">04. What's Next?</h2>
    <h3 class="section-header">Get In Touch</h3>
    <p class="section-description">
      Have a project in mind? Let's talk about it. I'm open to freelance work. <br
      />
      Feel free to reach out to me via email or LinkedIn.
    </p>
    <a class="cta" href="mailto:Ridhokhalis37@gmail.com" target="_blank"
      >Say Hello</a
    >
  </div>
</section>

<style lang="scss">
  section {
    height: calc(100vh - 220px);

    .section-content {
      text-align: center;
      .section-title {
        font-size: 16px;
      }

      .section-header {
        font-size: 48px;
        color: var(--lightest-slate);
        margin-bottom: 16px;
      }

      .section-description {
        margin-bottom: 32px;
      }

      .cta {
        margin: 0 auto;
      }
    }
  }
</style>
