---
import socialLinks from "../../public/data/socialLinks";
---

<footer>
  <div class="social-links">
    {
      socialLinks.map((socialLink) => (
        <a href={socialLink.href} target="_blank">
          {<socialLink.component />}
        </a>
      ))
    }
  </div>
  <p>Built by Ridho Khalis</p>
  <p>Designed by Brittany Chiang</p>
</footer>

<style lang="scss">
  footer {
    text-align: center;
    color: var(--slate);
    font-family: var(--mono);
    font-size: 14px;
    margin-bottom: 36px;
    line-height: 24px;

    .social-links {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-bottom: 24px;

      a {
        width: 24px;
        color: var(--lightest-slate);
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--primary-color);
          transform: translateY(-8px);
        }
      }
    }
  }
</style>
