---
---

<section>
  <div class="section-content">
    <p class="primary-mono">Hi, my name is</p>
    <h1 class="name">Ridho Khalis.</h1>
    <p class="profession">I'm a web developer.</p>
    <p class="introduction">
      I'm a web developer focusing on front-end development and sometimes do
      back-end development. I'm currently working as a front-end software
      engineer at
      <a class="link" href="https://neo.transfez.com/" target="_blank"
        >Transfez</a
      >.
    </p>
    <button>Check my resume</button>
  </div>
</section>

<style lang="scss">
  section {
    height: 100vh;

    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 64px;
      height: 100%;

      .name {
        font-size: 72px;
        font-weight: 700;
        color: var(--lightest-slate);
        margin-top: 12px;
        margin-bottom: -16px;

        @media (max-width: 768px) {
          font-size: 48px;
        }
      }

      .profession {
        font-size: 72px;
        font-weight: 700;
        color: var(--slate);

        @media (max-width: 768px) {
          font-size: 48px;
        }
      }

      .introduction {
        font-size: 16px;
        font-weight: 400;
        color: var(--slate);
        max-width: 55%;
        line-height: 28px;
        margin-top: 12px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      button {
        margin-top: 32px;
      }
    }
  }
</style>
