---
---

<section class="hidden">
  <div class="section-content">
    <p class="primary-mono">Hi, my name is</p>
    <h1 class="name">Ridho Khalis.</h1>
    <p class="profession">I'm a web developer.</p>
    <p class="introduction">
      I'm a web developer focusing on front-end development and sometimes do
      back-end development. I'm currently working as a front-end software
      engineer at
      <a
        class="link hover-underline"
        href="https://neo.transfez.com/"
        target="_blank">Transfez</a
      >.
    </p>
    <button>Check my resume</button>
  </div>
</section>

<style lang="scss">
  section {
    height: 100vh;

    .section-content {
      .name {
        font-size: 72px;
        font-weight: 700;
        color: var(--lightest-slate);
        margin-top: 12px;
        margin-bottom: -16px;

        @media screen and (max-width: 1024px) {
          font-size: 48px;
        }

        @media screen and (max-width: 480px) {
          font-size: 32px;
        }
      }

      .profession {
        font-size: 72px;
        font-weight: 700;
        color: var(--slate);

        @media screen and (max-width: 1024px) {
          font-size: 48px;
        }

        @media screen and (max-width: 480px) {
          margin-top: 16px;
          font-size: 28px;
        }
      }

      .introduction {
        font-size: 16px;
        font-weight: 400;
        color: var(--slate);
        max-width: 55%;
        line-height: 28px;
        margin-top: 12px;

        @media screen and (max-width: 768px) {
          max-width: 100%;
        }

        @media screen and (max-width: 480px) {
          line-height: 24px;
        }

        .hover-underline {
          display: inline-block;
          position: relative;
        }

        .hover-underline::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 0.25px;
          bottom: 0;
          left: 0;
          background-color: var(--primary-color);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        .hover-underline:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      button {
        margin-top: 32px;
      }
    }
  }
</style>
